.container .search {
  height: 3.5rem;
  width: 98%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(253, 253, 253, 0.056);
  background-color: #20283c;
  margin-top: 1rem;
}

.container .search .inputfield {
  height: 100%;
  width: 75%;
  border: none;
  padding-left: 0.4rem;
  font-size: 1.2rem;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-weight: 100;
}

.container .search .inputfield::-webkit-input-placeholder {
  color: #ffffff6c;
}

.container .search .inputfield:-ms-input-placeholder {
  color: #ffffff6c;
}

.container .search .inputfield::-ms-input-placeholder {
  color: #ffffff6c;
}

.container .search .inputfield::placeholder {
  color: #ffffff6c;
}

.container .search .search {
  height: 100%;
  width: 16%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container .search .search:hover {
  background-color: #2a334b;
}

.container .search .close {
  width: 9%;
  color: #fff;
  font-size: 1.3rem;
  color: rgba(246, 53, 53, 0.379);
  height: 100%;
  border: none;
  background-color: transparent;
}

.container .search .close:hover {
  color: #eb2222;
}

.container .explore {
  position: relative;
  margin-top: 2rem;
  padding: 0 0.5rem;
  height: auto;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .container .explore {
    padding: 0 0.25rem;
  }
}

.container .explore h2 {
  color: #eaeaea;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.container .explore .inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.currentpagi {
  width: 180px;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  /* Firefox */
}

.currentpagi input::-webkit-outer-spin-button,
.currentpagi input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currentpagi input[type=number] {
  -moz-appearance: textfield;
}

.currentpagi .pagibtn, .currentpagi .currentPagi {
  width: 30%;
  height: 98%;
  border-radius: 10px;
  border: 1px solid rgba(253, 253, 253, 0.056);
  background-color: #20283c;
  color: #ffffff6c;
  font-weight: 700;
  font-size: 1.5rem;
}

.currentpagi .pagibtn:hover, .currentpagi .currentPagi:hover {
  background-color: #3d4b72;
  color: #fff;
}

.currentpagi .currentPagi {
  text-align: center;
}
